	
	#main_div{
		border-top-left-radius: 2em;
		border-top-right-radius: 2em;
		width: 800px;
		height: 600px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		
		border: solid white 1px;
		
	
	}
	
	#PageTitle{
		font-size: 0.5em;
		color: white;
		position: absolute;
		margin-top: -580px;
		margin-left: 250px;
		font-family: Tahoma;
	
	}
